body{
    display: flex;
  justify-content: center;
  position: relative;
    background-image: url("https://source.unsplash.com/1600x900/?climate");
    background-repeat: no-repeat;
    background-attachment: scroll;
    max-width: fit-content;
    max-height:fit-content;
    background-clip: border-box;
    align-items: center;
    margin-left:200px;
    margin-top: 100px;

}

.app-wrap{
    background:grey;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 3em;
}
.temp{
    color:aliceblue ;
}

header{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: -10px;
}

.search-bar{
    margin-right: 10px;
    border-radius: 10px;
    border: none;
    width: 80%;
}

input.search-bar{
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background:whitesmoke;
    color:black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 105%;
    width: calc(100% - 100px);
    transition: 0.2s ease-in-out;
    
}

button{
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #7c7c7c2b;
    color:burlywood;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover{
    background:white;

}

input.search-bar:hover{
    background:white;
}


h1.temp {
    margin: 0;
    margin-bottom: 0.4em;  
}

.weather.loading{
    visibility: hidden;
  max-height: 20px;
  position: relative;
}
.weather.loading::after{
    visibility: visible;
  content: "Loading...";
  color: black;
  position: absolute;
  top: 0;
  left: 20px;
}